@font-face {
    font-family: 'Raleway-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('police/Raleway-Regular.ttf') format('ttf');
    }

body {
    font-family: 'Raleway-regular', sans-serif ;
}

header {
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    padding-right: 75px;
}

#logo {
    height: 60px;
}