@font-face {
    font-family: 'Raleway-Regular';
    src: url('police/Raleway-Regular.ttf') format('truetype'), url('police/Raleway-Bold.ttf') format('truetype');
    }

body {
    font-family: 'Raleway-Regular', sans-serif;
    margin: 0;
}
/*police définie*/


/*en-tête*/

header {                                
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
}

nav {
    display: flex;
    margin: 20px 40px 0px 0px;
}

.nav-ancres {
    display: flex;
    gap: 50px;
}

header strong {
    color: #0065FC;
}

.logo {
    height: 60px;
    margin-left: 40px;
    margin-top: 20px;
}

header a:hover {
    color: #0065FC;
}

@media (min-width:751px) {
    header a {
        padding: 0px 20px 0px 20px;
    }

    header a:hover {
        border-top: 2px #0065FC solid;
        padding-top: 30px;
    }
}

/*corps de page*/

main {
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

h1 + p {
    font-size:0.9rem;
}

h1, h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.fas {
    color:#0065FC;
}

a {
    text-decoration: none;
    color: black;
}


/*barre de recherche*/

#icone-map {
    background-color:rgba(51, 51, 51, 0.11);
    width: 50px;
    height: 35px;
    font-size: 1.2rem;
    border-radius: 15px 0px 0px 15px;
    text-align: center;
    padding-top: 15px;  
    padding-bottom: 3px;
    padding-left: 2px;
}

.barre-saisie {
    border: 1px rgba(0, 0, 0, 0.212) solid;
    width: 175px;
    height: 52px;
    margin-left:-5px;
    padding-left: 15px;
}

::placeholder {
    opacity: 1;
    font-weight: bold;
    font-size: 1rem;
}

.bouton-rechercher-mobile {
    display: none;
}

.bouton-rechercher-desktop {
    background-color: #0065FC;
    color: white;
    height: 53px;
    width: 100px;
    border-radius: 0px 15px 15px 0px;
    font-weight: bold;
    margin-left:-6px;
    border: none;
}


/*filtres*/

.filtres {
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
}

.filtres p {
    font-weight: bold;
}

.filtre {
    display: flex;
    height: 50px;
    margin-left: 40px;
    border: 0.1px rgba(0, 0, 0, 0.295) solid;
    border-radius: 25px;
    padding-right: 20px;
}

.filtre:hover {
    box-shadow: 4px 4px rgba(0, 0, 0, 0.295);
    background-color: rgba(116, 116, 116, 0.171);
    cursor: pointer;
}

.filtres .fas {
    background-color:#DEEBFF;
    width: 50px;
    height: 35px;
    font-size: 1.2rem;
    border-radius: 50px;
    text-align: center;
    padding-top: 14px;
    margin-right: 7px;
}

.info {
    display: flex;
}

.info p {
    font-size: 0.9rem;
}

.info .fas {
    width: 30px;
    height: 25px;
    border: 0.5px rgba(0, 0, 0, 0.295) solid;
    border-radius: 25px;
    padding-top: 5px;
    text-align: center;
    margin-right: 5px;
}


/*partie hébergements*/

.section-milieu {
    display: flex;
    justify-content: space-between;
}

#hebergements {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px;
    max-width: 65%;
}

#hebergements img {
    object-fit: cover;
    width: 100%;
    height: 175px;
    border-radius: 20px 20px 0px 0px;
}

.logement {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.233);
    padding: 5px;
    width: 350px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#logements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.description {
    margin-left: 15px;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 0px;
}

/*les plus populaires*/

aside {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px;
    width: 25%;
}

aside img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 25px 0px 0px 25px;
}

@media (min-width: 1481px) {
    aside img {
        min-width: 40%;
        max-width: 40%;
    }
}

.titre-aside {
    display: flex;
    justify-content: space-between;
}

.titre-aside .fas {
    font-size: 2rem;
    padding-top: 20px;
}

.populaire {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.233);
    padding: 5px;
    margin-bottom: 35px;
    display: flex;
}

.description-2 {
    margin-top: 0px;
    margin-left: 20px;
}


#populaires {
    margin-top: 30px;
}


/*activités à Marseille*/

.activites {
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
}

.activites img {
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    width: 100%;
}

figure {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.233);
    margin: 0px;
}

figcaption {
    margin-top: 10px;
    margin-left: 20px;
    padding-bottom: 10px;
    font-weight: bold;
}


@media (min-width: 1010px) {

    /*tailles d'image applicables uniquement au-delà de 1010px
    pour éviter une contradiction avec le media query inverse*/

.figure-verticale img {
    height: 650px;
}

.figure-horizontale img {
    height: 295px;
}

.activites div {
    flex: 1 1 auto;
    width: 20%;
}

.figure-horizontale figure {
    margin-bottom: 15px;
}

}


@media (min-width: 1350px) {

#pomegues img {
    height: 360px;
}

#pomegues {
    height: 420px;
}

#frioul img {
    height: 160px;
}

#frioul {
    height: 205px;
    margin-top: 70px;
}

#garde img {
    height: 260px;
}

#garde {
    height: 310px;
}

#longchamp img {
    height: 270px;
}

#longchamp {
    margin-top: 70px;
    height: 315px;
}

}

@media (min-width: 1350px) {
    .activites div {
        width: 20%;
    }
}


/*pied-de-page*/

footer {
    background-color: #F2F2F2;
    display: flex;
    gap: 20%;
    padding: 30px;
    margin-top: 60px;
}

h4 {
    margin-left: 40px;
}

footer ul {
    margin-top: 30px;
    list-style-type: none;
}

footer li {
    margin-top: 15px;
    margin-bottom: 15px;
}


/*--------------------------------passage en responsive-------------------------------------------*/

@media (max-width:1115px) {

footer {
    gap: 10%;
    }
}

@media (max-width:860px) {

footer {
    flex-direction: column;
    }
}


@media (max-width: 1080px) {

/*réagencement filtres*/

.titre-filtres {
    min-width: 100%;
}

.filtres {
    flex-wrap: wrap;
    column-gap: 20px;
}

.filtre {
    margin: 7px 0px 7px 0px;
}

}


@media (max-width:1481px) {
    

/*réagencement des sections*/

.section-milieu {
    flex-wrap: wrap-reverse;
}

aside {
    border-radius: 0px;
    margin-left: -20px;
    width: 100%;
    margin-right: -20px;
    max-height: initial;
}

.populaire {
    width: 100%;
}

#populaires {
    width: 100%;
}

aside img {
    height: 200px;
}

h3 {
    font-size: 1.5rem;
}

h3 + p {
    font-size: 1.2rem;
}

#populaires .fas {
    margin-top: 50px;
    font-size: 1.3rem;
}

#etoiles {
    margin-top: -20px;
}

.titre-aside {
    margin-top: 0px;
}

#hebergements {
    background-color: white;
    padding: 0px;
    max-width: initial;
}

#hebergements img {
    width: 100%;
    max-height: 275px;
}

#logements {
    width: 100%;
}

#logements a {
    width: 100%;
}

.logement {
    width: 100%;
}

}


@media (max-width: 1010px) {

/*passage des activités en colonne*/

.activites {
    flex-direction: column;
}

.activites img {
    width: 100%;
}

figure img {
    height: 300px;
}

figure {
    margin-top: 30px;
    height: 350px;
}

.figure-horizontale figure {
    margin-bottom: 15px;
}

}


@media (max-width: 750px) {

main {
    margin: 0 20px;
}    

/*réagencement menu navigation*/

header {
    display: block;
}

nav {
    margin: 0;
}

header img {
    position: absolute;
}

.logo {
    margin-left: 10px;
    margin-top: 10px;
}

.nav-ancres {
display: flex;
margin-top: 120px;
width: 100%;
gap: 0;
padding-left: 0;
}

.nav-ancres a {
display: block;
border-bottom: 4px #94949433 solid;
padding: 0px 20% 20px 20%;
}

nav li {
font-size: 1.2rem;
text-align: center;
}

.nav-ancres li {
width: 50%;
}

.nav-ancres a:hover {
border-bottom: 4px #0065FC solid;
color: #0065FC;
}

.info .fas {
    width: 40px;
}

.nav-inscription {
    position: absolute;
    right: 10px;
    top: 15px;
}

h1 {
    font-size: 1.5em;
}

h1 + p {
    font-size: 0.9rem;
}

.populaire {
    height: 150px;
}

.populaire img {
    height: 150px;
    width: 125px;
}

h3 {
    font-size: 1rem;
}

h3 + p {
    font-size: 0.9rem;
}

#populaires .fas {
    font-size: 1rem;
    margin-top: 35px;
}

#hebergements img {
    height: 130px;
}

.activites img {
    height: 155px;
}

figure {
    height: 200px;
}

footer {
    padding: 0;
}


@media (max-width:374px) {
    .nav-ancres li :hover {
        padding: 0px 10% 20px 10%;
    }

    .description-2 {
        margin-left: 10px;
    }

    .logo {
        margin: 10px;
    }

    .populaire {
        display: block;
        height: initial;
    }

    .populaire img {
        width: 100%;
    }
    
    aside img {
        width: 100%;
        border-radius: 25px 25px 0px 0px;
    }
    
    #populaires .fas {
        margin: 10px 0px;
    }
    
}


/*refonte bouton rechercher*/

.bouton-rechercher-desktop {
    display: none;
    }
    
.bouton-rechercher-mobile {
    display: initial;
    border: none;
    margin-left: -10px;
    }
    
.bouton-rechercher-mobile .fas {
    color: white;
    font-size: 1.2rem;
    padding-top: 15px;  
    padding-bottom: 3px;
    padding-left: 10px;
    position: absolute;
    margin-top: 18px;
    }
    
.bouton-rechercher-mobile input {
    position: absolute;
    width: 50px;
    height: 53px;
    border: none;
    background-color: #0065FC;
    border-radius: 15px;
    margin-left: -5px;
    }


/*grossissement de la barre de recherche*/

#icone-map {
    width: 60px;
    height: 40px;
    font-size: 1.4rem;
    padding-top: 16px;
    padding-bottom: 6px;
}

.barre-saisie {
    width: 60%;
    height: 60px;
}

.bouton-rechercher-mobile input {
    width: 60px;
    height: 60px;
}

.bouton-rechercher-mobile .fas {
    font-size: 1.4rem;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 14px;
}

}